<ul class="nav nav-list">
    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Nhập chỉ số nước </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="nhapchisonuoc.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nhập chỉ số nước
                </a>

                <b class="arrow"></b>
            </li>

            <li>
                <a href="Danhsachnhanvienlaychiso.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh sách khách hàng lấy chỉ số
                </a>

                <b class="arrow"></b>
            </li>
        </ul>

    </li>
    <li class="">
        <a href="Danhsachtuyenduongnhanvien.html">
            <i class="menu-icon glyphicon glyphicon-road"></i>
            <span class="menu-text"> Phân công tuyến đường </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon glyphicon-list-alt"></i>
            <span class="menu-text"> Hóa đơn tiền nước </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="hoadontiennuoc.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quản lý hóa đơn tiền nước
                </a>

                <b class="arrow"></b>
            </li>

            <li>
                <a href="Thanhtoanhoadontiennuoc.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Thanh toán tiền nước
                </a>

                <b class="arrow"></b>
            </li>
            <li>
                <a href="Danhsachno.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh sách khách hàng nợ
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon glyphicon-book"></i>
            <span class="menu-text"> Danh mục </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li>
                <a href="Danhmuckhachhang.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục khách hàng
                </a>

                <b class="arrow"></b>
            </li>

            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon glyphicon glyphicon-book"></i>
                    <span class="menu-text"> Danh mục dịch vụ </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="Danhmucdichvu.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Danh mục dịch vụ
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li>
                        <a href="Danhsachmucphi.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Các phí dịch vụ&Thuế
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li>
                <a href="Danhsachnhanvien.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh sách nhân viên
                </a>

                <b class="arrow"></b>
            </li>
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon glyphicon glyphicon-book"></i>
                    <span class="menu-text"> Danh mục tuyến sử dụng </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="Danhmucnhomtuyen.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Danh mục nhóm tuyến
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li>
                        <a href="Danhmuctuyenduong.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Danh mục tuyến
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>

            </li>

        </ul>

    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon glyphicon-briefcase"></i>
            <span class="menu-text">Quản lý lắp đặt, sửa chữa</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="Tiepnhan.html">
                    <i class="menu-icon glyphicon glyphicon-edit"></i>
                    Tiếp nhận
                </a>

                <b class="arrow"></b>
            </li>

            <li>
                <a href="Quanlytiepnhan.html">
                    <i class="menu-icon glyphicon glyphicon-folder-open"></i>
                    Quản lý tiếp nhận
                </a>

                <b class="arrow"></b>
            </li>
        </ul>

    </li>
</ul><!-- /.nav-list -->