<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div style="text-align: center">
                    <h1 class="modal-title" >Xem danh mục mức giá lũy tiến</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" role="form">
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 no-padding-right">Nhập chỉ số</label>

                                    <div class="col-sm-6">
                                        <input type="text" id="form-field-chiso" placeholder="Chỉ số" style="width: 100%">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 no-padding-right" for="food">Nhập giá</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="cost" placeholder="Giá" style="width: 100%">
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-offset-2 col-md-9">
                            <button class="btn btn-white btn-info btn-bold" type="button" onclick="add_chiso()">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-white btn-info btn-bold" type="button" onclick="edit_chiso()">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                Chỉnh sửa
                            </button>
                            &nbsp; &nbsp; &nbsp;
                          

                        </div>
                    </form>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="row">
                    <div class="col-xs-12">

                        <table id="grid-table-modal"></table>
                        <div id="grid-pager-modal"></div>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->

                </div>

            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

