<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document" style="width: 100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div style="text-align: center">
                    <h1 class="modal-title" >Danh sách công nợ</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" role="form">
                        <div class="col-xs-12">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 no-padding-right">Tên các khách hàng</label>
                                    <div class="col-sm-9">
                                        <label id="name" class="control-label" ></label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="button" onclick="confirminvoice('#grid-table-modal')">
                                            <i class="fa fa-plus"></i>
                                            Thanh toán

                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="row">
                    <div class="col-xs-12">
                        <table id="grid-table-modal"></table>
                        <div id="grid-pager-modal"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->

                </div>

            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

F